

/* Start:/project/communication/styles/styles.css?161625072449847*/
/* Start:/project/communication/styles/styles.min.css?159949192820745*/
@charset "UTF-8";
.lnd-cable-type__heading,
.lnd-card__heading,
.lnd-city__heading,
.lnd-contacts__heading,
.lnd-faq__disclosure,
.lnd-faq__heading,
.lnd-filter-settings__heading,
.lnd-filter__heading,
.lnd-form-banner__heading,
.lnd-plugs__heading {
    line-height:1.2;
    font-weight:700;
    text-align:left;
}

.lnd-contacts__heading,
.lnd-faq__heading,
.lnd-filter__heading,
.lnd-form-banner__heading,
.lnd-plugs__heading {
    font-size:5rem;
    letter-spacing:-.07rem;
    -webkit-hyphens:none;
    hyphens:none;
}

.lnd-city__heading {
    font-size:3rem;
    letter-spacing:-.05rem;
}

.lnd-cable-type__heading,
.lnd-card__heading,
.lnd-filter-settings__heading {
    font-size:2.5rem;
    letter-spacing:-.03rem;
}

.lnd-faq__disclosure {
    font-size:2rem;
    letter-spacing:-.02rem;
}

.lnd-form-banner__heading {
    color:#f3f4f4;
}

.lnd-cable-type__heading,
.lnd-card__heading,
.lnd-city__heading,
.lnd-contacts__heading,
.lnd-faq__disclosure,
.lnd-faq__heading,
.lnd-filter-settings__heading,
.lnd-filter__heading,
.lnd-plugs__heading {
    color:#161616;
} 
    
.lnd-cable-type__label,
.lnd-card__text,
.lnd-check__label,
.lnd-city__phone,
.lnd-city__schedule,
.lnd-city__telegram,
.lnd-city__text,
.lnd-city__whatsapp,
.lnd-faq__text,
.lnd-filter__text,
.lnd-form-banner__personal-data,
.lnd-form-banner__text {
    font-weight:400;
}
    
.lnd-card__text,
.lnd-check__label,
.lnd-city__schedule,
.lnd-faq__text{
    font-size:1.5rem;
    line-height:1.667;
}

.lnd-filter__text,
.lnd-form-banner__text {
    font-size:2rem;
    line-height:1.5;
}

.lnd-filter__text {
    padding: 20px 0 0 0;
    font-size: 16px;
    line-height: 1.5;
}

.lnd-cable-type__label,
.lnd-card__text,
.lnd-check__label,
.lnd-city__phone,
.lnd-city__schedule,
.lnd-city__telegram,
.lnd-city__text,
.lnd-city__whatsapp,
.lnd-faq__text,
.lnd-filter__text {
    color:#5b5c5c;
}
        
.lnd-form-banner__personal-data,
.lnd-form-banner__text {
    color:#f3f4f4;
}
        
.lnd-filter__reset,
.lnd-form-banner__submit-button {
    position:relative;
    display:inline-flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:1.4rem 4rem;
    font-weight:600;
    font-size:1.8rem;
    line-height:1;
    border-radius:.2rem;
    outline:none;
    background:transparent;
    cursor:pointer;
    text-align:center;
    -webkit-hyphens:none;
    hyphens:none;
}

.lnd-filter__reset,
.lnd-filter__consultation,
.show-more-connetor-types {
    background-color:#00AEFF;
    color:#fff;
    border: 1px solid #00AEFF;
    border-radius:.3rem;

    padding:1.4rem 4rem;
    font-weight:600;
    font-size:1.8rem;
    line-height:1;
    outline:none;
    cursor:pointer;
    text-align:center;
    -webkit-hyphens:none;
    hyphens:none;
}

.show-more-connetor-types  {
    margin: 10px auto 0 auto;
}

.lnd-filter__reset:hover,
.lnd-filter__consultation:hover,
.show-more-connetor-types:hover {
    background-color:#fff;
    color:#00aeff;
    box-shadow:0 1rem 1rem rgba(0,115,168,.24),0 0 1rem rgba(0,115,168,.12);
    transition:all .5s ease-out;
}
                
.lnd-form-banner__submit-button {
    color:#00aeff;
    border:none;
    background-color:#f3f4f4;
}
                
.lnd-form-banner__submit-button:hover {
    background-color:#d8d9d9;
    transition:background-color .5s ease-out;
}

input.lnd-input[type=text] {
    height:5rem;
    font-size:1.5rem;
    line-height:1;
    border:none;
}
                
input[type=text].lnd-input {
    padding-top:1rem;
    padding-bottom:1rem;
    background-color:transparent;
}
                
input.lnd-filter-settings__from[type=text],
input.lnd-filter-settings__to[type=text],
input[type=text].lnd-input_dark {
    color:#a7a8a8;
    border-bottom:.2rem solid #d8d9d9;
}
                
input.lnd-form-banner__phone[type=text],
input[type=text].lnd-input_light {
    color:#d8d9d9;
    border-bottom:.2rem solid #f3f4f4;
}
                
input[type=text]:hover.lnd-input {
    transition:border-bottom .5s ease-out;
}
                
input.lnd-filter-settings__from[type=text]:hover,
input.lnd-filter-settings__to[type=text]:hover,
input[type=text]:hover.lnd-input_dark {
    border-bottom:.2rem solid #161616;
}
                
input.lnd-form-banner__phone[type=text]:hover,
input[type=text]:hover.lnd-input_light {
    border-bottom:.2rem solid #92acac;
}
                
input[type=text]:focus.lnd-input {
    outline:none;
    border-bottom:.2rem solid #00aeff;
    transition:border-bottom .5s ease-out;
}

input[type=text]::-moz-placeholder.lnd-input {
    -moz-transition:color .5s ease-out;
    transition:color .5s ease-out;
}

input[type=text]::placeholder.lnd-input { 
    transition:color .5s ease-out;
}
                    
input.lnd-filter-settings__from[type=text]::-moz-placeholder,
input.lnd-filter-settings__to[type=text]::-moz-placeholder,
input[type=text]::-moz-placeholder.lnd-input_dark {
    color:#5b5c5c;
}

input.lnd-filter-settings__from[type=text]::placeholder,
input.lnd-filter-settings__to[type=text]::placeholder,
input[type=text]::placeholder.lnd-input_dark {
    color:#5b5c5c;
}
                        
input.lnd-form-banner__phone[type=text]::-moz-placeholder,
input[type=text]::-moz-placeholder.lnd-input_light {
    color:#d8d9d9;
}

input.lnd-form-banner__phone[type=text]::placeholder,
input[type=text]::placeholder.lnd-input_light {
    color:#d8d9d9;
}

input[type=submit] { 
    border:none;
    cursor:pointer;
}
                        
input[type=radio].lnd-input {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}

.lnd-radiomark,
.lnd-radiomark:before {
    top:0;
    left:0;
    width:1.5rem;
    height:1.5rem;
    border-radius:50%
}

.lnd-radiomark:before { 
    content:"";
    box-shadow:0 0 0 .2rem #a7a8a8
}

.lnd-radiomark:hover~.lnd-radiomark:after {
    box-shadow:0 0 0 .2rem #5b5c5c;
    transition:box-shadow .5s ease-out;
}

.lnd-check__label {
    padding-left:2rem;
}

.lnd-check__input {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
                    
.lnd-check__mark {
    position:absolute;
    width:1.5rem;
    height:1.5rem;
    border-radius:.05rem;
    margin-top:.3rem;
    margin-left:-2rem;
    box-shadow:0 0 0 .2rem #a7a8a8;
}
                    
                    
.lnd-check__mark:hover {
    box-shadow:0 0 0 .2rem #00aeff;
    transition:box-shadow .5s ease-out;
}

.lnd-check__input:focus+.lnd-check__mark {
    box-shadow:0 0 0 .2rem #a7a8a8,0 0 0 .4rem #d8d9d9;
    transition:box-shadow .33s ease-out; 
}
                        
                        
.lnd-check__input:checked+.lnd-check__mark {
    box-shadow:0 0 0 .2rem #00aeff;
    background-color:#00aeff;
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFF' stroke-width='2' d='M1 5.05L3.88 7.8l6.12-6' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position:50% 50%;
    transition:background-color .33s ease-out;
}
                            
                            
.lnd-filter-settings__select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    width:100%;
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.451 4.8L7.873.864a.504.504 0 00-.09-.747A.61.61 0 007.422 0H.578C.258 0 0 .238 0 .532c0 .12.045.238.127.332L3.549 4.8a.613.613 0 00.902 0z' fill='%2300AEFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position:calc(100% - 1.5rem);
    font-size:1.8rem;
    line-height:1;
    outline:none;
    border:none;
    border-radius:0;
    padding-top:1.6rem;
    padding-right:3rem;
    padding-bottom:1.6rem;
    background-color:transparent;
}
                            
.lnd-filter-settings__select:focus {
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.451.2l3.422 3.936c.2.23.16.564-.09.747A.61.61 0 017.422 5H.578C.258 5 0 4.762 0 4.468c0-.12.045-.238.127-.332L3.549.2a.613.613 0 01.902 0z' fill='%2300AEFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.lnd-filter-settings__select{
    color:#a7a8a8;
    box-shadow:inset 0 -.2rem 0 0 #d8d9d9
}

a,body,dd,dl,dt,form,h1,h2,h3,h4,li,p,ul {
    margin:0;
    padding:0;
    text-decoration:none;
    font-weight:400;
    font-variant-numeric:lining-nums;
}

img {
    display:flex;
    max-width:100%;
    height:auto;
}

.lnd-contacts__container,
.lnd-container {
    max-width:1170px;
    margin:0 auto;
    padding:0 2.5rem;
}

.lnd-filter {
    position:relative;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    padding-top:8rem;
    padding-bottom:5rem;
    background-color:#fff;
}
            
.lnd-filter__heading {
    width:100%;
}

.lnd-filter__header-row {
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    margin-bottom:3rem;
}
                             
.lnd-filter__text {
    padding-right:2.5rem;
}


.lnd-cable-type__item span {
    display: block;
    padding: 15px 0;
    background-color: #fff;
  }

.lnd-cable-type__item:hover  {
    border-color: #00AEFF;
}

.lnd-cable-type__item:hover span {
  background-color: #00AEFF;
}

.lnd-cable-type__item:hover label {
  color: #fff;
}

.lnd-cable-type__image {
    margin-bottom:1rem;
}
.lnd-cable-type__item {
    width:10.5rem;
    list-style-type:none;
}

.lnd-cable-type__label {
    width: 100%;
    cursor:pointer;
    font-size:1.3rem;
}

.lnd-cable-type__label:hover {
    color:#00aeff;
}

.lnd-cable-type__input {
    display:none;
}

.lnd-cable-preview {
    position:relative;
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    margin-bottom:6rem;
}

.lnd-cable-preview__cord {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;
}

.lnd-cord__form {
    width:100%;
    height:2rem;
    background-color:#f3f4f4;
}

.lnd-cord__form.active {
    background-image:linear-gradient(0deg,#161616 10%,#bfbfbf 75%,#a8a8a8 90%);
}

.lnd-cord__colors {
    position:absolute;
    bottom:0;
    display:flex;
    width:40%;
    justify-content:space-between;
}

.lnd-filter-settings__colors {
    margin-bottom: 4rem;
}

.lnd-cord__color-item {
    width:2rem;
}

.lnd-cord__input {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.lnd-cord__radiomark,
.lnd-cord__radiomark:after {
    position:absolute;
    bottom:0;
    width:2rem;
    height:2rem;
    border-radius:100%;
}

.lnd-cord__radiomark:after {
    content:"";
    left:0;
    box-shadow:0 0 0 .2rem transparent;
}

.lnd-cord__input:hover~.lnd-cord__radiomark:after {
    box-shadow:0 0 0 .2rem #d8d9d9;
    transition:box-shadow .5s ease-out;
}

.lnd-cord__input:focus~.lnd-cord__radiomark:after {
    box-shadow:0 0 0 .2rem #d8d9d9;
}

.lnd-cord__input:checked~.lnd-cord__radiomark:after {
    box-shadow:0 0 0 .2rem #00aeff;
    transition:box-shadow .5s ease-out;
}
    
.lnd-cord__black {
    background-color:#161616;
    box-shadow:0 .2rem .4rem rgba(22,22,22,.5);
}

.lnd-cord__grey {
    background-color:#a7a8a8;
    box-shadow:0 .2rem .4rem rgba(167,168,168,.5);
}

.lnd-cord__white {
    background-color:#fff;
    box-shadow:0 .1rem .5rem rgba(216,217,217,.5);
}

.lnd-cord__red {
    background-color:#e64545;
    box-shadow:0 .2rem .4rem rgba(230,69,69,.5);
}

.lnd-cord__orange {
    background-color:#e6b045;
    box-shadow:0 .2rem .4rem rgba(230,176,69,.5);
}

.lnd-cord__yellow { 
    background-color:#e6e645;
    box-shadow:0 .2rem .4rem rgba(230,230,69,.5);
}

.lnd-cord__green {
    background-color:#45e645;
    box-shadow:0 .2rem .4rem rgba(69,230,69,.5);
}

.lnd-cord__blue {
    background-color:#45e6e6;
    box-shadow:0 .2rem .4rem rgba(69,230,230,.5);
}

.lnd-cord__navy {
    background-color:#457ae6;
    box-shadow:0 .2rem .4rem rgba(69,122,230,.5);
}

.lnd-cord__purple {
    background-color:#9545e6;
    box-shadow:0 .2rem .4rem rgba(149,69,230,.5);
}

.lnd-cord__pink{
    background-color:#e645cb;
    box-shadow:0 .2rem .4rem rgba(230,69,203,.5);
}

.lnd-filter-settings{ 
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content:space-between;
}

.lnd-filter-settings__heading {
    width:100%;
    margin-bottom:2rem;
}

.lnd-filter-settings__plug-1 {
    width:20%;
    order:1;
}

.lnd-filter-settings__plug-2 {
    width:20%;
    order:3;
}

.lnd-filter-settings__cable {
    width:40%;
    order:2;
}

.lnd-filter-settings__lenght {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom:4rem;
    max-width: 450px;
}

.lnd-filter-settings__from {
    width:8rem;
}

.lnd-filter-settings__to { 
    width:8rem;
    margin-bottom:1.5rem;
}

.lnd-filter-settings__range {
    width:100%;
}

.lnd-filter-settings__material {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:space-between;
}

.lnd-filter-settings__material ul {
    margin: 0 0 0 -20px;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

.lnd-filter-settings__material ul li {
    max-width: 85px;
    width: 100%;
    padding: 0;
    margin: 0 0 0 18px;
}


.lnd-plugs {
    padding-top:8rem;
    padding-bottom:8rem;
}

.lnd-plugs__heading {
    margin-bottom:5rem;
}
/* 
.lnd-plugs__cards {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:2.5rem;
} */

.lnd-plugs__cards {
    display:flex;
    flex-wrap: wrap;
}

.lnd-card {
    display:flex;
    margin-bottom:2.5rem;
}

.lnd-card picture {
    margin-right:2.5rem;
}

.lnd-card__image {
    min-width:16.5rem;
}

.lnd-card__heading {
    margin-bottom:1rem;
}

.lnd-faq{
    display:flex;
    flex-wrap:wrap;
    padding-top:8rem;
    padding-bottom:14rem;
    background-color:#fff;
    justify-content:center;
}

.lnd-faq__heading {
    width:74rem;
    margin-bottom:5rem;
}

.lnd-faq__list {
    display:flex;
    flex-wrap:wrap;
    width:74rem;
}

.lnd-faq__item {
    width:100%;
    margin-bottom:1rem;
    border-radius:.5rem;
    background-color:#f3f4f4;
}
.lnd-faq__answer{
    padding:.5rem 4rem 2rem 2rem;
}

.lnd-faq__disclosure{
    position:relative;
    display:flex;
    padding:2rem 4rem 2rem 2rem;
    width:100%;text-align:left;
    border-radius:.5rem;
    border:none;
    cursor:pointer;
    background-color:#f3f4f4;
}

.lnd-faq__disclosure:hover {
    color:#00aeff;
    box-shadow:0 1rem 1rem rgba(22,22,22,.1);
    transition:all .33s ease-out;
}

.lnd-faq__disclosure:after {
    position:absolute;
    content:"+";
    width:1rem;
    height:1rem;
    right:2rem;
}
    
.lnd-faq__disclosure.active:after {
    position:absolute;
    content:"РІР‚вЂњ";
    width:1rem;
    height:1rem;
    right:2rem;
}

.lnd-faq__answer {
    display:none;
}

.lnd-faq__answer.active {
    display:flex;
}

.lnd-form-banner {
    position:relative;
    padding:8rem 6rem;
    background-repeat:no-repeat;
    background-color:#161616;
    background-position-x:right;
}

.lnd-form-banner:after {
    position:absolute;
    content:url(/project/communication/styles/../img/photo-cables-form.min.png);
    content:-webkit-image-set(url(/project/communication/styles/../img/photo-cables-form.min.png) 1x,url(/project/communication/styles/../img/photo-cables-form@2x.min.png) 2x);
    right:0;
    top:-5rem;
}

.lnd-form-banner__info {
    display:flex;
    flex-wrap:wrap;
    width:68%;
}

.lnd-form-banner__heading {
    width:100%;
    margin-bottom:2rem;
}

.lnd-form-banner__text {
    -webkit-hyphens:none;
    hyphens:none;
    margin-bottom:2.7rem;
}

.lnd-form-banner__form {
    width:100%;
}

.lnd-form-banner__inputs {
    display:flex;
    flex-wrap:wrap;
}

.lnd-form-banner__label-phone {
    width:39rem;
    margin-right:3rem;
}

.lnd-form-banner__phone {
    width:100%;
}

.lnd-form-banner__phone::-moz-placeholder {
    color:#d8d9d9;
}

.lnd-form-banner__phone::placeholder { 
    color:#d8d9d9;
}

.lnd-form-banner__submit {
    width:26rem;
    margin-bottom:2rem;
}

.lnd-contacts {
    padding-top:8rem;
    padding-bottom:14rem;
}

.lnd-contacts__heading {
    margin-bottom:5rem;
}

.lnd-contacts__items {
    display:flex;
}

.lnd-city,
.lnd-city__moscow,
.lnd-city__spb {
    position:relative;
    display:flex;
    flex-wrap:wrap;
    width:50%;
    padding-right:20rem;
}

.lnd-city__heading,
.lnd-city__schedule,
.lnd-city__text {
    margin-bottom:2rem;
}

.lnd-city__text {
    font-size:1.5rem;
    line-height:1.667;
    font-weight:600;
}

.lnd-city__phone,
.lnd-city__telegram,
.lnd-city__whatsapp {
    font-weight:600;
    text-decoration:underline;
}

.lnd-filter__text {
    padding: 20px 0 0 0;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* РљРЅРѕРїРєРё СѓРїСЂР°РІР»РµРЅРёСЏ */
  
  .control-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    margin-top: 50px;
  }
  
  /* .control-block button,
  .control-block a {
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
  
    border: 1px solid #00AEFF;
    outline: none;
  
    background-color: #00AEFF;
    color: #fff;
    transition: all .5s ease-in-out;
  }
  
  .control-block button:hover,
  .control-block button:focus,
  .control-block a:hover,
  .control-block a:focus {
    background-color: #fff;
    color: #00AEFF;
    transition: all .5s ease-in-out;
  } */
  
  .control-block p {
    font-size: 44px;
  }
  
  /* small РўРёРї РєР°Р±РµР»СЏ */
  
  .type-cable-heading {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
  }
  
  .type-cable-heading h3 {
    max-width: 150px;
    margin: 0;
  
    position: relative;
  }
  
  .type-cable-heading__content {
      display: flex;
  }
  
  .type-cable-heading__content p {
      font-size: 16px;
      margin: 0 0 0 5px;
  }
  
  
  .type-cable-heading button:hover {
    opacity: 0.7;
  }

  .lnd-cable-type {
    width: 100%;
    margin-bottom: 0;
  }

  .lnd-cable-type__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 0 50px 0;
  }
  
  .lnd-cable-type__item {
    width: 15%;
    height: 150px;
    padding: 20px;
    position: relative;
    overflow: hidden;
  
    background-color: #e2e0e1;
    border: 1px solid #161616;
  }
  
  .lnd-cable-type__item span {
      display: block;
      padding: 15px 0;
      background-color: #fff;
    }
  
  .lnd-cable-type__item:hover  {
      border-color: #00AEFF;
  }
  
  .lnd-cable-type__item:hover span {
    background-color: #00AEFF;
  }
  
  .lnd-cable-type__item:hover label {
    color: #fff;
  }
  
  #cableSelect-sectionList li {
    display: flex;
    width: 200px;
    height: auto;
    margin: 0 10px 50px 10px;
    align-items: center;
    padding: 0;
    border-radius: 3px;
  }
  
  .lnd-cable-type__item:focus {
    outline: none;
    border: none;
  }
  
  .lnd-cable-type__item:active {
    opacity: 0.5;
  }
  
  .lnd-cable-type__item:hover::before {
    transform: translateX(0);
    outline: none;
  }
  
  .lnd-cable-type__item:focus::before {
    transform: translateX(0);
  }
  
  .lnd-cable-type__label {
    text-align: center;
  }
  
  .lnd-cable-type__input {
    margin: 0 0 0 20px;
  }
  
  #cableSelect-sectionList li {
    display: flex;
    align-items: center;
  }
  
  .lnd-cable-type {
    display: flex;
    flex-direction: column;
  }
  
  .arrow {
    position: absolute;
    bottom: 5px;
    left: 100%;
  }
  
  .arrow__up-transform {
    transition: ease-in-out;
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }
  
  .arrow__down-transform {
    transition: ease-in-out;
    transition-duration: 0.5s;
    transform: rotate(0deg);
  }
  
  .type-cable-heading button {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
  
    margin: 0 0 0 10px;
    cursor: pointer;
  }
  
  .hidden {
    font-size: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
  }

  /*range*/
  
  .cabel-length-values {
    display: flex;
    justify-content: space-between;
  }
  
  .cabel-length-value {
    background-color: #00AEFF;
    width: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
  }
  
  .cabel-length-values__min,
  .cabel-length-values__max {
    color: #ccc;
    font-size: 19px;
  }
  
  .cabel-length-value__value {
    color: #fff;
    font-size: 23px;
  }
  
  .cabel-length-values {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
  }
  
  
  .range-slider {
    position: relative;
    width: 100%;
  }
  
  .range-slider .input-range {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 25px;
    background: #ccc;
    outline: none;
  }
  
  .range-slider .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background: #00AEFF;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
  }
  
  .range-slider .input-range::-webkit-slider-thumb:hover {
    background: #43ade7;
  }
  
  .range-slider .input-range:active::-webkit-slider-thumb {
    background: #43ade7;
  }
  
  .range-slider .input-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 25px;
    background: #00AEFF;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
  }
  
  .range-slider .input-range::-moz-range-thumb:hover {
    background: #43ade7;
  }
  
  .range-slider .input-range:active::-moz-range-thumb {
    background: #43ade7;
  }
  
  ::-moz-range-track {
    background: #ccc;
    border: 0;
  }
  
  input::-moz-focus-inner {
    border: 0;
  }
  
  /* .lnd-filter-settings__lenght {
    max-width: 450px;
  } */
  
  /* material */
  .lnd-filter-settings__material {
    justify-content: flex-start;
  }
  
  .lnd-filter-settings__material .lnd-check__label {
    max-width: 85px;
    width: 100%;
    padding: 0;
    margin: 0 0 0 20px;
  }
  
  /*Colors*/
  
  .colors > li,
  .lnd-cord__color-item span {
    list-style: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-bottom: 5px solid rgba(0, 0, 0, .1);
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
  }
  
  .lnd-cord__color-item span::after {
    display: none;
  }
  
  .colors>li:hover,
  .lnd-cord__color-item span:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border-bottom: 10px solid rgba(0, 0, 0, .15);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
  }
  
  .colors>li.active-color,
  .lnd-cord__color-item span.active-color {
    -webkit-transform: scale(1.2) translateY(-10px);
    transform: scale(1.2) translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    border-bottom: 20px solid rgba(0, 0, 0, .15);
  }

  .lnd-cord__color-item input[type='radio']:disabled + span {
    background-color: black;
    box-shadow: none;
    transform: none;
    border: none;
    opacity: 0.1;
  }
  
  /* Plug 1 */
  .select_wrap {
    max-width: 225px;
    margin: 15px auto;
    position: relative;
    user-select: none;
  }
  
  .select_wrap .default_option {
    background: #fff;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  
    margin: none;
    padding: none;
    list-style: none;
  }
  
  .select_wrap .default_option li {
    border-bottom: 2px solid #d8d9d9;
  }
  
  .select_wrap .default_option li p {
    font-size: 1.8rem;
    line-height: 1;
    padding-top: 1.6rem;
    padding-right: 3rem;
    padding-bottom: 1.6rem;
    background-color: transparent;
    text-transform: lowercase;
    color: #a7a8a8;
  }
  
  .select_wrap .default_option:before {
    content: "";
    position: absolute;
    top: 18px;
    right: 18px;
    width: 6px;
    height: 6px;
    border: 2px solid;
    border-color: transparent transparent #555555 #555555;
    transform: rotate(-45deg);
  }
  
  .select_wrap .select_ul {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    border-top: 2px solid transparent;
    border-left: 2px solid #f3f4f4;
    border-right: 2px solid #f3f4f4;
    border-bottom: 2px solid #f3f4f4;
  
    /* display: none; */
  
    height: 350px;
    overflow-y: scroll;
  }

  .select_ul li label {
      display: flex;
  }
  
  .select_wrap .select_ul::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f3f4f4;
    border: 1px solid #f3f4f4;
    border-radius: 20px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #00AEFF;
    border-radius: 20px;
  }
  
  .select_wrap .select_ul li {
    padding: 16px 15px 16px 15px;
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 1;
  }

  .select_wrap .select_ul li label input {
    display: none;
  }

  .select_wrap .select_ul li label img {
    width: 100%;
    height: 32px;
  }
  
  .select_wrap .select_ul li:first-child:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .select_wrap .select_ul li:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .select_wrap .select_ul li:hover {
    background-color: rgba(0, 174, 255, 0.7);
    color: white;
  }
  
  .select_wrap .option {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }
  
  .select_wrap .option .icon {
        width: 70px;
        height: 32px;
    }
  
    .select_wrap .option .icon img {
      width: 100%;
      height: 32px;
  }

  .select_ul--hidden {
    display: none;
  }

  .select_ul--active {
    display: block;
  }
  
  .select_wrap.active .select_ul {
    display: block;
  }
  
  .select_wrap.active .default_option:before {
    top: 25px;
    transform: rotate(-225deg);
  }
  
  
  .lnd-filter-settings__plug-1 .select_ul .icon img {
      transform: rotate(180deg);
  }
  
  
  /*Multi range*/

  .middle {
	position: relative;
	width: 100%;
	max-width: 500px;
}
   
  .slider {
	position: relative;
	z-index: 1;
	height: 8px;
	margin: 0 15px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #00AEFF;
    opacity: 0.2;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #00AEFF;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 20px;
	height: 20px;
	background-color: #00AEFF;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
	left: 25%;
	transform: translate(-15px, -7px);
}
.slider > .thumb.right {
	right: 25%;
	transform: translate(15px, -7px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 20px rgba(0, 174, 255, 0.281);
}
.slider > .thumb.active {
	box-shadow: 0 0 0 25px rgba(0, 174, 255, 0.281);
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	-webkit-appearance: none;
}

.track {
	display: flex;
	justify-content: space-between;
}

.values-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto 25px auto;
}

.from,
.to {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 50px;
	height: 25px;
	background-color: white;
    border-bottom: 2px solid #d8d9d9;
    color: #a7a8a8;

    font-family: Harmonia Sans,sans-serif;
    font-size: 18px;


}

  /*Multi range*/
  
  
  /* Banner */
  
  
  .lnd-form-banner {
      position: relative;
      padding: 0;
      background-repeat: no-repeat;
      background-color: #161616;
      background-position-x: right;
      background-color: #3c3c3c;
    }
  
  .lnd-form-banner__content {
      display: flex;
  }
  
  .lnd-form-banner__heading {
      font-size: 35px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #00b9f3;
  }
  
  .lnd-form-banner__text {
      max-width: 480px;
      font-weight: 700;
      letter-spacing: 1px;
      margin: 0 0 25px 0;
  }
  
  .lnd-form-banner__inputs {
      flex-direction: column;
  }
  
  .lnd-form-banner__personal-data {
      font-size: 12px;
      order: 2;
      margin: 0 0 60px 0;
  }
  
  .lnd-form-banner__label-phone {
      margin: 0 0 15px 0;
  }
  
  .lnd-form-banner__submit-button {
      padding: 20px;
  }
  
  .lnd-form-banner__submit {
      width: 29.4rem;
      order: 3;
  }
  
  .lnd-form-banner__link {
      color: #fff;
      border-bottom: 1px solid #fff;
      padding: 0 0 1px 0;
  }
  
  .lnd-form-banner__phone[type=text] {
      background-color: transparent;
      border: none;
      order: 1;
  }
  
  .lnd-form-banner__info {
      display: block;
      width: 50%;
  
      padding: 70px 0 0 50px;
  }
  
  .lnd-form-banner__image-block {
      width: 51%;
      display: flex;
  }
  
  .lnd-form-banner__image-block--banner {
      width: 80%;
  }
  
  .lnd-form-banner__image-block--logo {
      width: 12%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 3%;
  }
  
  .lnd-form-banner__image-block--banner img {
      max-width: 460px;
      width: 100%;
      height: auto;
  }

  /*-----------------------------------Разъемы---------------------------------------*/


  .box-inputs {
    display: block;
    width: 18%;
    max-width: 200px;
    height: auto;
    min-height: 200px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #00AEFF;
    position: relative;
    border-radius: 3px;
    cursor: pointer;

    margin: 0 15px 20px 0;
  }

  .original {
      display: flex;
      flex-direction: column;
  }

  .original h3 { 
      font-size: 18px;
      line-height: 1;
      padding: 15px 0 15px 0;
      margin: 0 auto;
}

.original p { 
    font-size: 12px;
    line-height: 1;
    padding: 15px 0 5px 0;
    font-weight: 700;
    margin: 0 25px 0 auto;
    border-bottom: 1px solid #00AEFF;

    position: relative;
}

.original p::before {
    position: absolute;
    content: "";
    background-image: url("../img/arrow-down-sign-to-navigate.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10px;
    height: 10px;
    top: 15px;
    right: -15px;
    transform: rotate(270deg);
}

   .original div {
      width: 100%;
      max-width: 150px;
      margin-top: 15px;
      margin: 0 auto;
  }

  .original div img{
    width: 100%;
    height: auto;
}
  
  .overlay {
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  /* SLIDE IN */
  
  .overlay {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    background-color: #00AEFF;
    line-height: 200px;
    color: #fff;
    transform: translateX(-100%);
    -webkit-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
  }
  
  .overlay h3 {
    font-size: 18px;
    line-height: 1;
    margin: 0 auto 0 auto;
    padding: 15px 0 15px 0;
  }
  
  .overlay p {
    font-size: 15px;
    line-height: 1;
    margin: 0 auto 0 auto;
    padding: 0 10px 20px 10px;
  }
  
  .box-inputs:hover .overlay{
    transform: translateX(0);
  }


/*------------------------------------------------------------1024px--------------------------------------------------------------------------------*/

@media (max-width:1024px) {
    main {
        overflow:hidden;
    }

    .lnd-cable-type {
        width: 100%;
    }

    .lnd-form-banner__info {
        width:60%;
    }

    .lnd-form-banner__label-phone {
        width:30rem;
    }

    .lnd-form-banner__submit {
        width:20rem;
    }

    .lnd-contacts {
        padding-right:1.5rem;
        padding-left:1.5rem;
    }

    .lnd-form-banner__info {
        display: flex;
        width: 50%;
    
        padding: 25px 0 25px 0;
    }

    .lnd-form-banner__heading {
        padding: 0 20px 0 20px;
        margin: 0;
        max-width: 300px;
    }

    .lnd-form-banner__text {
        max-width: 350px;
        padding: 0 20px 0 20px;
        margin: 0;
    }

    .lnd-form-banner__inputs {
        padding: 0 20px 0 20px;
    }

    .lnd-form-banner__personal-data {
        margin: 0 0 20px 0;
    }

    .lnd-form-banner__submit {
        margin: 0;
    }

    .lnd-form-banner__image-block--logo {
        display: none;
    }

    .lnd-form-banner__content {
        justify-content: space-between;
    }

    .lnd-form-banner__image-block--banner {
        width: 100%;
    }
    

    .lnd-form-banner__label-phone {
        max-width: 300px;
    }

    .lnd-filter-settings__plug-1 {
      width: 40%;
      order: 1;
  }

  .lnd-filter-settings__plug-2 {
      width: 40%;
      order: 2;
  }

  .lnd-filter-settings__cable {
      order: 3;
      width: 100%;
      display: flex;
      margin: 40px 0 0 0;
      justify-content: space-between;
  }

  .lnd-filter-settings__length,
  .lnd-filter-settings__colors {
      max-width: 500px;
  }

  .lnd-filter-settings__colors {
      width: 50%;
  }

  .tablet-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
  }

  .select_wrap {
      margin: 0;
      max-width: 399px;
  }

  .select_ul {
      z-index: 12;
  } 

  .control-block {
      width: 100%;
      margin: 40px auto 0 auto;
      padding: 0 0 20px 0;
  }

  .lnd-filter {
      padding-bottom: 2rem;
  }

  .box-inputs {
    width: 30%;
    max-width: none;
  }
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------768px--------------------------------------------------------------------------------*/

@media (max-width:768px) {
    .lnd-cable-type__heading,
    .lnd-card__heading,
    .lnd-filter-settings__heading {
        font-size:2.1rem;
    }

    .lnd-faq__disclosure{
        font-size:1.9rem;
    }

    .lnd-filter__reset,
    .lnd-filter__consultation,
    .lnd-form-banner__submit-button {
        padding:1.5rem 3rem;
    }

    .lnd-contacts__container,
    .lnd-container {
        padding:1rem 1.5rem;
    }

    .page-container>.box {
        padding:0
    }

    .lnd-cable-type {
        width:100%;
    }

    /* .lnd-plugs__cards {
        justify-content: center;
    } */

    /* .lnd-cable-type__list {
        grid-template-columns:repeat(auto-fill,9rem);
    } */

    .lnd-cable-preview {
        margin-bottom:8rem;
    }

    .lnd-cable-preview__plug-1,
    .lnd-cable-preview__plug-2 {
        width:14.5rem;
    }

    .lnd-cord__form {
        height:1.8rem;
    }

    .lnd-cord__colors {
        width:50%;
        bottom:-2.5rem;
    }

    .lnd-filter-settings__cable {
        width:100%;
    }

    .lnd-card__image {
        min-width:13rem;
    }

    .lnd-form-banner {
        padding-left:3rem;
    }

    .lnd-form-banner:after {
        right:-13rem;
        top:12.5rem;
    }

    .lnd-form-banner__form {
        width:80%;
    }

    .lnd-form-banner__inputs {
        width:100%;
    }

    .lnd-form-banner__label-phone {
        width:100%;
        margin-right:0;
        margin-bottom:3rem;
    }

    .lnd-form-banner__phone {
        width:100%;
    }

    .lnd-form-banner__submit {
        width:100%;
    }

    .lnd-form-banner__submit-button {
        width:100%;
    }

    .lnd-contacts__items {
        padding-right:0;
    }

    .lnd-city,
    .lnd-city__moscow,
    .lnd-city__spb {
        padding-right:5rem;
    }

    .lnd-cable-preview {
		margin-bottom: 0;
	}

	.lnd-cord__colors > label {
		display: inline-block;
		margin: 0 8px;
	}

	.lnd-cord__colors {
		flex-wrap: wrap;
		margin-top: -70px;
	}

    .lnd-faq {
        margin-top: 50px;
    }

    .lnd-faq__heading {
        padding: 30px 0 0 0;
    }

    .type-cable-heading__content {
        margin: 5px 0 0 0;
    }
  
      .type-cable-heading__content p,
      .type-cable-heading__content button {
          font-size: 14px;
      }
  
    .lnd-cable-type__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin: 0;
    }
  
    #cableSelect-sectionList li {
      width: 120px;
      margin: 0 10px 10px 10px;
    }
  
    .type-cable-heading {
      margin: 0 0 15px 0;
    }
  
    .arrow {
      bottom: 5px;
      left: 85%;
    }

    .lnd-form-banner__image-block {
        display: none;
    }

    .lnd-form-banner__inputs,
    .lnd-form-banner__text,
    .lnd-form-banner__heading {
        padding: 0;
    }

    .length-visible {
        width: 50px;
    }

    
    .box-inputs {
        width: 46%;
        max-width: none;
      }
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------736px---------------------------------------------------------------------------------*/

@media (max-width:736px) {
    .lnd-contacts__heading,
    .lnd-faq__heading,
    .lnd-filter__heading,
    .lnd-form-banner__heading,
    .lnd-plugs__heading {
        font-size:4.2rem;
    }

    .lnd-city__heading {
        font-size:2.8rem;
    }

    .lnd-form-banner:after {
        right:-13rem;
        top:5.6rem;
    }
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 450px) {
    .lnd-cable-type__list {
        justify-content: space-between;
    }

    #cableSelect-sectionList li {
        width: 40%;
    }
}

@media (max-width: 440px) {
    .box-inputs {
        width: 100%;
        max-width: 100%;
        margin: 0 auto 20px auto;
        height: auto;
        min-height: 150px;
    }

    .original div {
        height: 80px;
        margin: -15px auto 0 auto;
    }

    .original p {
        padding: 8px 0 5px 0;
    }

    .original p::before {
        top: 10px;
        right: -15px;
    }
}

/*------------------------------------------------------------414px---------------------------------------------------------------------------------*/

@media (max-width:414px) {
    .lnd-contacts__heading,
    .lnd-faq__heading,
    .lnd-filter__heading,
    .lnd-form-banner__heading,
    .lnd-plugs__heading {
        font-size:4rem;
    }

    .lnd-city__heading {
        font-size:2.6rem;
    }

    .lnd-cable-type__heading,
    .lnd-card__heading,
    .lnd-filter-settings__heading {
        font-size:1.9rem;
    }

    .lnd-faq__disclosure {
        font-size:1.8rem;
    }

    .lnd-filter__text,
    .lnd-form-banner__text {
        font-size:1.7rem;
    }

    .lnd-cable-preview__plug-1,
    .lnd-cable-preview__plug-2 {
        width:10rem;
    }

    .lnd-cord__form {
        height:1.2rem;
    }

    .lnd-cord__colors {
        width:100%;
        bottom:-2rem;
    }

    .lnd-filter-settings__plug-1 {
        width:100%;
        margin-bottom:4rem;
    }

    .lnd-filter-settings__plug-2 {
        width:100%;
        margin-bottom:4rem;
        order:2;
    }

    .lnd-filter-settings__cable {
        width:100%;
        order:3;
    }

    /* .lnd-plugs__cards {
        grid-template-columns:1fr;
    } */

    .lnd-form-banner:after {
        content:url(/project/communication/styles/../img/photo-cables-form_mobile.min.png);
        content:-webkit-image-set(url(/project/communication/styles/../img/photo-cables-form_mobile.min.png) 1x,url(/project/communication/styles/../img/photo-cables-form_mobile@2x.min.png) 2x);
        top:auto;
        right:auto;
        bottom:-.7rem;
        left:0;
    }

    .lnd-form-banner {
        padding-right:2.5rem;
        padding-left:2.5rem;
        padding-bottom:0;
    }

    .lnd-form-banner__info {
        width:100%;
    }

    .lnd-form-banner__form {
        width:100%;
    }

    .lnd-contacts__items{
        flex-wrap:wrap;
    }

    .lnd-city,
    .lnd-city__moscow,
    .lnd-city__spb {
        padding-top:0;
        width:100%;
    }

    .lnd-city__moscow {
        margin-bottom:5rem;
        padding-right:0;
    }

    .lnd-city__spb {
        padding-right:0;
    }

    .connector-image-container .selected-connector-image {
		width: 10rem;
	}

	.connector-image-container .selected-connector-image img {
		width: 100%;
	}

	.lnd-cord__colors {
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: -25px;
	}

	.lnd-cord__colors > label {
		display: inline-block;
		margin: 0 8px;
	}
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------375px---------------------------------------------------------------------------------*/

@media (max-width:375px) {
    .lnd-contacts__heading,
    .lnd-faq__heading,
    .lnd-filter__heading,
    .lnd-form-banner__heading,
    .lnd-plugs__heading {
        font-size:3.5rem;
    }

    .lnd-city__heading {
        font-size:2.4rem;
    }

    .lnd-cable-type__heading,
    .lnd-card__heading,
    .lnd-filter-settings__heading {
        font-size:1.7rem;
    }

    .lnd-faq__disclosure {
        font-size:1.6rem;
    }

    .lnd-card__text,
    .lnd-check__label,
    .lnd-city__schedule,
    .lnd-faq__text {
        font-size:1.3rem;
    }

    .lnd-filter__text,
    .lnd-form-banner__text {
        font-size:1.5rem;
    }

    .lnd-filter__heading {
        margin-bottom:2rem;
    }
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------320px---------------------------------------------------------------------------------*/

@media (max-width:320px) {
    .lnd-contacts__heading,
    .lnd-faq__heading,
    .lnd-filter__heading,
    .lnd-form-banner__heading,
    .lnd-plugs__heading {
        font-size:3rem;
    }

    .lnd-city__heading {
        font-size:2.1rem;
    }

    .lnd-cable-type__heading,
    .lnd-card__heading,
    .lnd-filter-settings__heading {
        font-size:1.5rem;
    }

    .lnd-faq__disclosure {
        font-size:1.4rem;
    }

    .lnd-card__text,
    .lnd-check__label,
    .lnd-city__schedule,
    .lnd-faq__text {
        font-size:1.2rem;
    }

    .lnd-filter__text,
    .lnd-form-banner__text {
        font-size:1.3rem;
    }

    /* .lnd-cable-type__list {
        grid-template-columns:repeat(auto-fill,8.5rem);
        grid-gap:1.5rem;
    } */

    .lnd-cable-type__item {
        width:9rem;
    }
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

@font-face{
    font-family:Rouble;
    src:url(/project/communication/styles/../fonts/rouble.woff2) format("woff2");
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family:Harmonia Sans;
    src:url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Black.eot);
    src:local("Harmonia Sans"),local("HarmoniaSansProCyr-Black"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Black.eot?#iefix) format("embedded-opentype"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Black.woff2) format("woff2"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Black.woff) format("woff"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Black.otf) format("opentype");
    font-weight:900;
    font-style:normal;
}

@font-face{
    font-family:Harmonia Sans;
    src:url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Bold.eot);
    src:local("Harmonia Sans"),
    local("HarmoniaSansProCyr-Bold"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Bold.eot?#iefix) format("embedded-opentype"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Bold.woff2) format("woff2"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Bold.woff) format("woff"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Bold.otf) format("opentype");
    font-weight:700;
    font-style:bold;
}

@font-face{
    font-family:Harmonia Sans;
    src:url(/project/communication/styles/../fonts/HarmoniaSansProCyr-SemiBd.eot);
    src:local("Harmonia Sans"),
    local("HarmoniaSansProCyr-SemiBd"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix) format("embedded-opentype"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-SemiBd.woff2) format("woff2"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-SemiBd.woff) format("woff"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-SemiBd.otf) format("opentype");
    font-weight:600;
    font-style:normal;
}

@font-face{
    font-family:Harmonia Sans;
    src:url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Regular.eot);
    src:local("Harmonia Sans"),
    local("HarmoniaSansProCyr-Regular"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Regular.eot?#iefix) format("embedded-opentype"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Regular.woff2) format("woff2"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Regular.woff) format("woff"),
    url(/project/communication/styles/../fonts/HarmoniaSansProCyr-Regular.otf) format("opentype");
    font-weight:400;
    font-style:normal;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body,
html {
    font-size:10px;
    min-height:100%;
    font-family:Harmonia Sans,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-hyphens:auto;
    hyphens:auto;
} 

main {
    overflow:inherit;
    background-image:url(/project/communication/styles/../img/texture-regular.min.jpg);
}        

/* End */


/* Start:/project/communication/styles/styles.extra.css?16010274391898*/
#frmCableSelect {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

#cableSelectResult {
	max-width: 890px;
	margin: 0 auto;
}

#cableSelect-sectionList li {
	padding: 0;
}

#cableSelect-sectionList li.active {
	box-shadow: 0 0 0 0.2rem #a7a8a8;
}

.lnd-container .product-price a {
	font-weight: 700;
}

.selected-connector-image {
	display: none;
	width: 190px;
	/*height: 113px;*/
}

.active .selected-connector-image {
	display: block;
}

.lnd-cable-preview .active svg {
	display: none;
}

.flip-horizontal {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.lnd-cord__colors {
	position: relative;
	margin-bottom: 7rem;
	margin-top: -92px;
}

.lnd-cord__radiomark {
	position: relative;
	display: inline-block;
}

.length-visible {
	color: #a7a8a8;
	font-size: 1.5rem;
	border-bottom: .2rem solid #d8d9d9;
	width: 80px;
	display: inline-block;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.lnd-cord__color-item, .lnd-filter-settings__label {
	cursor: pointer;
}

#frmCableSelect .hidden {
	display: none;
}

#frmCableSelect .disabled {
	opacity: 0.1;
}

#frmCableSelect .disabled, #frmCableSelect .disabled > * {
	cursor: default;
}

/* End */
/* /project/communication/styles/styles.min.css?159949192820745 */
/* /project/communication/styles/styles.extra.css?16010274391898 */

/* РўРµРєСЃС‚ РѕРїРёСЃР°РЅРёСЏ*/

  
  @media (max-width: 400px) {
    #cableSelect-sectionList li {
      display: flex;
      width: 120px;
      height: auto;
      align-items: center;
      padding: 0;
    }
  
    .arrow {
      bottom: 3px;
      left: 60%;
    }
  }
  
@media(max-width: 768px) {
    .lnd-form-banner__info {
        width: 100%;
        flex-direction: column;
        padding: 20px 0;
        justify-content: center;
    }

    .lnd-form-banner__submit {
        width: 100%;
        max-width: 300px;
    }

    .lnd-cable-preview {
      margin: 30px 0 0 0;
    }

    .lnd-filter-settings {
        margin: 50px 0 0 0;
    }

}

@media(max-width: 500px) {
    .lnd-filter-settings__plug-1,
    .lnd-filter-settings__plug-2 {
        margin: 0 0 0 0;
    }

    .lnd-filter-settings__colors {
        width: 30%;
    }

    .tablet-block {
        width: 60%;
        justify-content: flex-start;
    }

    .lnd-filter-settings__cable {
        margin: 30px 0 0 0;
    }
}


@media(max-width: 478px) {
    .lnd-filter-settings__colors {
        width: 40%;
    }

    .tablet-block {
        width: 55%;
    }

    .lnd-filter-settings__material ul {
        width: auto;
    }

    .cabel-length-value {
        width: 80px;
    }

    .cabel-length-value__value {
        font-size: 18px;
    }

    .cabel-length-values__min,
    .cabel-length-values__max {
        font-size: 16px;
    }
}

@media(max-width: 399px) {
    .lnd-filter-settings__plug-1 {
        order: 1;
        width: 100%;
        margin: 0 0 20px 0;
    }

    .lnd-filter-settings__plug-1 .lnd-filter-settings__heading,
    .lnd-filter-settings__plug-2 .lnd-filter-settings__heading {
        margin: 0;
    }

    .lnd-filter-settings__plug-2 {
        order: 2;
        width: 100%;
    }

    .lnd-filter-settings__cable {
        order: 3;
    }

    .lnd-filter-settings__colors {
        margin: 0 0 20px 0;
    }

    .control-block {
        width: 100%;
        flex-direction: column;
        margin: 10px auto 0 auto;
    }

    .lnd-filter__reset,
    .lnd-filter__consultation {
        width: 80%;
        margin: 0 auto 10px auto;
    }

    .lnd-check__label {
        font-size: 1.5rem;
    }
}
/* End */


/* Start:/project/communication/styles/styles.extra.css?16020893281898*/
#frmCableSelect {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

#cableSelectResult {
	max-width: 890px;
	margin: 0 auto;
}

#cableSelect-sectionList li {
	padding: 0px;
}

#cableSelect-sectionList li.active {
	box-shadow: 0 0 0 0.2rem #a7a8a8;
}

.lnd-container .product-price a {
	font-weight: 700;
}

.selected-connector-image {
	display: none;
	width: 190px;
	/*height: 113px;*/
}

.active .selected-connector-image {
	display: block;
}

.lnd-cable-preview .active svg {
	display: none;
}

.flip-horizontal {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.lnd-cord__colors {
	position: relative;
	margin-bottom: 7rem;
	margin-top: -92px;
}

.lnd-cord__radiomark {
	position: relative;
	display: inline-block;
}

.length-visible {
	color: #a7a8a8;
	font-size: 1.5rem;
	border-bottom: .2rem solid #d8d9d9;
	width: 80px;
	display: inline-block;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.lnd-cord__color-item, .lnd-filter-settings__label {
	cursor: pointer;
}

#frmCableSelect .hidden {
	display: none;
}

#frmCableSelect .disabled {
	opacity: 0.1;
}

#frmCableSelect .disabled, #frmCableSelect .disabled > * {
	cursor: default;
}

@media (max-width: 768px) {
	.lnd-cable-preview {
		margin-bottom: 0;
	}

	.lnd-cord__colors > label {
		display: inline-block;
		margin: 0 8px;
	}

	.lnd-cord__colors {
		flex-wrap: wrap;
		margin-top: -70px;
	}

    .length-visible {
        width: 70px;
    }
}

@media (max-width: 414px) {
	.connector-image-container .selected-connector-image {
		width: 10rem;
	}

	.connector-image-container .selected-connector-image img {
		width: 100%;
	}

	.lnd-cord__colors {
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: -25px;
	}

	.lnd-cord__colors > label {
		display: inline-block;
		margin: 0 8px;
	}
}
/* End */
/* /project/communication/styles/styles.css?161625072449847 */
/* /project/communication/styles/styles.extra.css?16020893281898 */
